* {
  box-sizing: border-box;
}
html{
  height:100%;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}
header{
  height: 65px;
width: 100%;
background-color: rgba(34, 49, 52, 0.9);
position :fixed;
top: 0;
z-index: 10;
}
.Container{
  max-width: 1170px;
 width: 100%;
 padding: 0 15px;
 margin: 0 auto;
}

.header-left p{
  font-size:20px;
  color:white;
  font-family:'HG行書体'	;
  position:absolute;
  top:0;

}
.header-left{
width:100px;
height:70px;
position:absolute;
top:0;
}
.header-right{
  float: right;
    margin-right: -25px;

}
.A{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.main{
color:white;
position: relative;

}
.me{
  width:100%;
  height:500px;
  margin:auto;
  display:block;
}
.main p{

  position:absolute; /* 絶対配置 */
	/* 左から半分 */
	width:100%; /* 大枠と同じ幅に */
text-align: center;
top:200px;
font-size:50px;
}
/*ここまでがMenuの上までのCSS*/
.menu h1{
  text-align: center;
}
.menu{
  width:70%;
display: block;
margin:0 auto;
}
/*上はCreaterの部分*/
.B{
  display:block;
  margin:0 auto;
  width:60%;
  border:solid 0.5px black;
  height:200px;
}
.piece{
  text-align: center;
}
.piece a{   display:block;
  margin:30px auto;
color:black;
}
/*上は中央のCreater Y.H.96のaタグの部分*/
footer{
  height: 65px;
width: 100%;
background-color: white;
}
.footer{
  text-align: center;

}
.footer p{
  color:black;
  font-size: 8px;
}
/*footer*/
.Contact{
  background-color:white;
  height:140px;
  width:100%;
  text-align:center;
}
.Contact h1{
  padding-top:70px;
}
/*Contact*/
input,textarea{
  display:block;
  width: 500px;
}
.C{
  width:500px;
  display: block;
  margin:0 auto;
}
/*portfolio*/
.Portfolio{
  width:100%;
}
.PortfolioTitle{
  display:block;
  width:500px;
  margin:70px auto 0 auto;
  text-align: center;
}
.Web{
  width:100%;
}
.WebSite{
  display:block;
  margin:0 auto;
  width:25%;
  border:solid 1px black;
  text-align: center;
  float:left;
  height:200px;
}
.WebSite img{
  width:100px;
  height:100px;
}
/*Photo*/
.PhotoGllary{
  width:100%;
  padding-top:20px;
  text-align: center;
  position: relative;
}
.Photo{
  display: block;
  width:100%;
  height:1200px;
  margin:10px auto;
  text-align: center;
  position:absolute;
  background-color:white;
}
.Photo img{
  width:500px;
  height:400px;

}
/*スマホ用*/
@media(max-width:750px){

header{
  height: 55px;
width: 380px;
background-color: rgba(34, 49, 52, 0.9);
position :fixed;
top: 0;
z-index: 10;

}
.container{
   width: 100%;

  }
  .header-left p{
    font-size:20px;
    color:white;
    font-family:'HG行書体'	;
    position:absolute;
    top:0;

  }
  .header-left{
  width:50px;
  height:40px;
  position:absolute;
  top:0;
  }
  .A{
    line-height: 65px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    color:white;
  }
  .header-right{
    float: right;
      margin-right: -25px;
}
.main p{

  position:absolute; /* 絶対配置 */
	/* 左から半分 */
	width:100%; /* 大枠と同じ幅に */
text-align: center;
top:160px;
font-size:30px;
}
/*ポートフォリオ*/
.PortfolioTitle{
  display:block;
  width:300px;
  margin:70px auto 0 auto;
  text-align: center;
}
.WebSite{
  display:block;
  margin:0 auto;
  width:100%;
  border:solid 1px black;
  text-align: center;
  height:200px;
}
.WebSite img{
  width:80%;
  height:70%;
text-align: center;
}
.Photo img{
  width:100%;
  height:300px;

}
/*contact*/
.C{
  width:100%;
  text-align: center;
}
input,textarea{
  display:block;
  width: 100%;
}
}
