*{
  font-family:serif;
  box-sizing:border-box;

}
.container{width:100%;
  height:40px;
  background-color:beige;

}
header a{
  list-style: none;
  float:right;
  top:0;
  padding:5px 5px;
  text-decoration:none;
  color:black;
}
.logo{
  width:50px;
float:left;
}
.Menu h1{
  text-align: center;

}
.icon{
  width:25%;
  float:left;
  text-align: center;

}
.Do{
  width:100%;
  margin-left:30px;
  margin-right:30px;
}

.icon img{
  border-radius: 50%;

  width:90%;
  height: 200px;
}
.icon p{
  font-size:15px;
  padding:0 3px 0 3px;
}
.Myself img{
  width:800px;
  height:300px;
  margin: 0 10px 0;

}
.Myself p{
  position:absolute;
  top:100px;
  left:350px;
  color:white;

}
.Myself{
  position:relative;
  text-align:  center;
background-color:beige;
}
.P{
  border: thick double beige;

}
.link{
  text-decoration:none;
  color:black;
}
footer{
  background-color:#F2F2F2;
  height:80px;

margin-top:auto;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
@media screen and (max-width: 670px) {

  .container{width:100%;
    height:40px;
  }

  .detail{width:100%;


    }
    .Myself img{
      width:100%;
    }

  }

  .Portfolio{
    display:block;
    width:100%;

  }
  .Portfolio h2,p{
    text-align: center;

  }
  .WebSite{
    display:block;
    width:100%;
    height:350px;
background-color: white;
position: absolute;
margin: 10px auto;
  }
  .Web img{
  height:70%;
  width:auto;

 }
  .Web{
    height:250px;
    width:400px;
    float:left;
    border:solid 1px gray;
    position:relative;

  }
.WebSite h2{
  text-align: center;
}
.PhotoGallary{
  height:500px;
  width:100%;
background-color: white;
}
.PhotoGallary h2{
text-align: center;
  }
  .Title{
    width:100%;
    height:800px;
    background-color:white;
  }
  .Title p{text-align: center;
  font-size: 20px;}
  .AllPortfolio{
    width:100%;
    height:500px;
    background-color: white;
    position:relative;
  }
  .Contact{
    width:100%;
    height:auto;
    text-align:center;

  }
.Post{
  text-align: center;
}
.Gallary{
  width:100%;
  height:auto;
  border:solid 2px black;
}
 img{
  width:18%;
  padding-left:60px;
  margin:auto;
  padding-top:5px;
  height:150px;
}
header{
  height:50px;
}
